 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 417px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 309px;
  --progress-spacing: 20px;
  --bar-size: 2px;
  --bar-default-color: #c0c0c0;
  --bar-active-color: #478ac9;
  --step-icon-size: 36px;
  
  --step-icon-border-width: 0px;
  --step-icon-border-radius: 50px;
  --step-icon-border-color: #808080;
  --step-icon-default-color: #d9d9d9;
  --step-icon-done-color: #478ac9;
  --step-icon-active-color: #478ac9;
  --step-icon-text-default-color: #ffffff;
  --step-icon-text-done-color: #ffffff;
  --step-icon-text-active-color: #ffffff;
  --step-text-default-color: #b3b3b3;
  --step-text-done-color: #478ac9;
  --step-text-active-color: #478ac9;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-1 .u-carousel-item-1 {
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-1 {
  height: 55px;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-2 {
  height: 55px;
  font-size: 1.125rem;
}

.u-section-1 .u-carousel-item-2 {
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-3 {
  height: 55px;
  font-size: 1.125rem;
}

.u-section-1 .u-carousel-item-3 {
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-4 {
  height: 55px;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-5 {
  font-size: 1.125rem;
  height: 55px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-label-6 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-6 {
  font-size: 1.125rem;
  height: 55px;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 6px 6px 0px 0px rgba(233,242,250,1);
  padding-top: 14px;
  padding-bottom: 14px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 6px 6px 0px 0px rgba(233,242,250,1);
  padding-top: 14px;
  padding-bottom: 14px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 6px 6px 0px 0px rgba(233,242,250,1);
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-group-10 {
    padding: 30px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-group-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-group-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-group-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-label-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-group-11 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }
}