 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  margin: 96px auto 0 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 367px;
  grid-auto-columns: 100%;
  grid-gap: 18px;
}

.u-section-1 .u-list-item-1 {
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 67px;
  height: 67px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 420px 0 438px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #fbeced, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0;
  padding: 7px 21px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-list-item-2 {
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 67px;
  height: 67px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 420px 0 438px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 4px;
  background-image: linear-gradient(to right, #f1b5b8, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0;
  padding: 7px 21px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    width: 201px;
    margin-left: 348px;
    margin-right: 330px;
  }

  .u-section-1 .u-text-3 {
    width: 201px;
    margin-left: 348px;
    margin-right: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 238px;
    margin-right: 220px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 238px;
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 168px;
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 168px;
    margin-right: 150px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 68px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 68px;
    margin-right: 50px;
  }
}