 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 794px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  margin-bottom: 60px;
}